html {
  background-image: url(../img/fond.png);
  font-family: Open-Sans, sans-serif;
}

body {
  margin : 3em 0 0;
  color: #454a54;
}

nav {
  margin-bottom: 1em;
  text-transform: uppercase;
}

nav a {
  color: white;
  font-family: Slabo, serif;
  font-size: 17px;
  text-decoration: none;
  padding-right: 1.6em;
}

main {
  min-width: 800px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-family: Slabo, serif;
  font-size: 2.5em;
  font-weight: normal;
}

section {
  float: left;
  width: 68%;
  background-color: #b6dedc;
  text-align: left;
  padding: 2em;
}

section h2 {
  font-family: Slabo, serif;
  font-size: 3.5em;
  font-weight: normal;
  text-align: center;
}

section h2 span {
  color:#34b1b2;
}

section h3 {
  text-align: center;
  font-size: 1.8em;
}

aside {
  float: right;
  width: 25%;
  border-style: solid;
  border-color: #2b9aa0;
  background-color: #34b1b2;
  text-align: left;
}

aside h2 {
 padding-top: 1.5em;
 padding-left: 1em;
 font-size: 1.4em;
 text-align: left;
 color: white;
}

aside h2 span {
  color:#b6dedc;
}


aside h3 {
  padding-left: 1em;
  color : #b6dedc;
}

aside p {
  padding: 1em;
  text-align: left;
  color: white;
}

aside img {
  float: right;
  margin-right: -30%;
  margin-top: -60%;
}

footer {
  clear : both;
  padding-top: 2em;
  text-align : center;
}

.staticheader {
  border-style: solid;
  border-width: 0.25em 0 0.25em 0;
  /* border-top: solid 0.25em;
  border-bottom: solid 0.25em;*/
  border-color: #2b9aa0;
  background-color: #34b1b2;
  text-align: center;
}

.introduction {
  text-align: center;
  color: #454a54;
  padding-bottom: 2em;
  max-width: 70%;
  margin: auto;
}

.button {
  background-color: #34b1b2;
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  float: right;
  margin-right: 1em;
  margin-bottom: 1em;
}

.photo {
  border-radius: 50%;
  float: left;
  margin-right : 1em;
  margin-bottom: 1em;
}

.menu {
display: inline-block;
vertical-align: top;
width: 46%;
margin : 2%
}
