*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /*62.5% de 16 ca fait 10px ; 1rem=10px*/
}

body{
  font-family: arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

a{
  text-decoration: none;
}

a:hover,
a:focus,
a:active {

}

img{
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {

}

figure {
  margin: 0;
}

/**************************************************************************************
BANNIERE
***************************************************************************************/
.banner {

}
/**************************************************************************************
MAIN
***************************************************************************************/

/**************************************************************************************
FOOTER
***************************************************************************************/
.footer_pic {
  width: 50%;
}
/**************************************************************************************
CLASS
***************************************************************************************/

/**************************************************************************************
MEDIA QUERY
***************************************************************************************/
@media screen and (min-width : 1024px) {

}

@media screen and (max-width : 1023px) {

}

@media screen and (min-width : 768px) {

}

@media screen and (max-width : 767px) {

}
