.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

form {
    display: none;
}

li:first-of-type {
    background-color: lightgreen;
    color: blue;
}

li:first-of-type:hover {
    cursor: pointer;
}

li span {
    display: block;
}

#js-contact-list {
    width: 100%;
}
