
* {
  box-sizing: border-box;
}

html {
  background-image: url(../images/concrete_seamless.png);
  scroll-behavior: smooth;
  font-size : 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-size : 1.6rem;
}

img {
  max-width: 100%;
  height : auto;
  vertical-align: top;
  -ms-interpolation-mode: bicubic; /* lissage pour IE */
  image-rendering: -webkit-optimize-contrast; /* lissage pour Chrome au redimensionnement*/
}

header{
  margin-top: 3rem;
  margin-left: 3rem;
}

header strong {
  color : #015770;
  display: block;
  font-size : 4rem;
  margin-bottom: 2rem;
  font-weight:normal;
}

header a{
  color : #2a8782;
}

main {
  max-width: 1024px;
  margin: auto;
}

footer {
  position : relative;
  text-align: center;
  font-size: 0.85em;
}

footer > * {
  margin : 0;
}


.bounce {
  /*animation: bounce 0.5s ease infinite alternate;*/
  animation: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bounce {
  0% {transform: translateY(0);}
  100% {transform: translateY(-20px);}
}



/* ******************************************************* */
/* ************** Les éléments du caroussel ************** */
/* ******************************************************* */

/*
*  Embarquer figure et .slider-navigation
*  dans un élément en position relative : .slider-layout
*    -> les éléments enfants seront en position absolute afin d'apparaître sur la photo :
*
*       1 - liens précédent et suivant (.next,.prev)
*       2 - figcaption (.slider-legend )
*
*    -> la hauteur de .slider-layout sera donc celle des photos
*/


#toolbar{
text-align: center;
padding-bottom: 1.5rem;
}

.slider-layout {
  position : relative;
}

.slider {
  display : none;
  margin : 0 6em;
  padding : 1rem;
  border-radius : 1rem;
	background : rgba(255,255,255,0.8);
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.5);
  will-change: transform;
}

.slider.active {
  display : block;
  background-color: white;
}

.slider-picture {
  border-radius : 1rem;
}


.slider-legend {
  position : absolute;
  left : 1rem; right :1rem; top : 1rem;
  padding : 1rem;
  border-radius : 1rem 1rem 0 0;
  background : rgba(255, 255, 255, 0.5);
  font-size : 1.6em;
  font-weight : bold;
}


/* The dots/bullets/indicators */

#dot-style{
  text-align: center;
  margin-top: 2rem;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
